img {
  position: absolute;
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

.flower {
  animation: shake 3s ease infinite;
}
/* アニメーションを適用する要素にスタイルを追加 */

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
